.idea/Figma2Py.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/window.cpython-39.pyc
.DS_Store
.idea/misc.xml
.idea/workspace.xml
__pycache__/backend.cpython-39.pyc
