__pycache__/
.DS_Store
.idea/Figma2Py.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.vscode
build/
dist/
env
resources/

*.spec
test.py
setup.py
icon.icns
.idea/Tkinter-Designer.iml
.idea/inspectionProfiles/Project_Default.xml
.eggs/README.txt
